/*
===========================
    CUSTOM PROPERTIES
===========================
*/
:root {
    --color-beige    : #bea495;
    --color-beige1   : #7b6152;
    --color-beige2   : #a5978e;
    --color-black    : #000000;
    --font-comfortaa : "Comfortaa", sans-serif;
    --color-dark     : #272727;
    --color-grey     : #fafafa;
    --color-pink     : #fff8f3;
    --font-roboto    : "Roboto", sans-serif;
    --color-yellow   : #ffbd59;
    --font-yeseva    : "Yeseva One", serif;
}

/*
===========================
    BASIC STYLES
===========================
*/
html {
    box-sizing : border-box;
}

*, *::before, *::after {
    box-sizing : inherit;
}

body {
    background-color : var(--color-pink);
    color            : var(--color-black);
    font-family      : var(--font-comfortaa);
    font-size        : 14px;
    font-weight      : 400;
    line-height      : 1.2;
}

a {
    color           : inherit;
    display         : inline-block;
    text-decoration : none;
}

button {
    border  : none;
    color   : inherit;
    cursor  : pointer;
    display : inline-block;
    font    : inherit;
}

input, input::placeholder {
    color : inherit;
    font  : inherit
}

.container {
    margin    : 0 auto;
    max-width : 1180px;
    padding   : 0 10px;
}

.title {
    color         : var(--color-black);
    font-family   : var(--font-yeseva);
    font-size     : 40px;
    font-weight   : 400;
    margin-bottom : 15px;
}

.button {
    background-color : var(--color-yellow);
    color            : var(--color-dark);
    font-weight      : 600;
    min-width        : 150px;
    padding          : 19px;
}

/*
===========================
    HEADER
===========================
*/
.header__inner {
    align-items : center;
    display     : flex;
    padding     : 4px 0;
}

.header__logo {
    margin-right : auto;
}

.header__menu {
    margin : 0 auto;
}

.header__tel {
    margin-left : auto;
}

.menu__list {
    display : flex;
    gap     : 20px;
}

.menu__link {
    text-transform : uppercase;
}

.header__tel {
    padding-left : 23px;
    position     : relative;
}

.header__tel::before {
    background-image    : url("../images/icons/phone_icon.svg");
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : contain;
    content             : "";
    height              : 20px;
    left                : 0;
    position            : absolute;
    top                 : 50%;
    transform           : translateY(-50%);
    width               : 20px;
}
