/*
===========================
    CUSTOM PROPERTIES
===========================
*/
:root {
    --color-beige: #bea495;
    --color-beige1: #7b6152;
    --color-beige2: #a5978e;
    --color-black: #000000;
    --color-dark: #272727;
    --color-dark-grey: #333333;
    --color-grey: #fafafa;
    --color-pink: #fff8f3;
    --color-white: #ffffff;
    --color-yellow: #ffbd59;
    --font-roboto: "Roboto", sans-serif;
    --font-comfortaa: "Comfortaa", sans-serif;
    --font-yeseva: "Yeseva One", serif;
}

/*
===========================
    BASIC STYLES
===========================
*/
html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
    min-height: 100%;
    font-family: var(--font-comfortaa);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-black);
    background-color: var(--color-pink);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

button {
    display: inline-block;
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input,
input::placeholder {
    font: inherit;
    color: inherit;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    margin-bottom: 15px;
    font-family: var(--font-yeseva);
    font-size: 40px;
    font-weight: 400;
    color: var(--color-black);
}

.button {
    min-width: 150px;
    padding: 19px;
    font-weight: 600;
    text-align: center;
    color: var(--color-dark);
    background-color: var(--color-yellow);
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
}

.main {
    overflow-x: hidden;
}

.section {
    margin-bottom: 150px;
}

.section__inner {
    display: flex;
}

.section__info {
    flex-shrink: 0;
    max-width: 372px;
}

/*
===========================
    HEADER
===========================
*/
.header {
    position: relative;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.header__logo {
    margin-right: auto;
}

.menu__button {
    position: relative;
    display: none;
    min-width: 30px;
    min-height: 25px;
}

.menu__button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url("../images/icons/menu-icon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

.header__menu {
    margin: 0 auto;
}

.header__tel {
    margin-left: auto;
}

.menu__list {
    display: flex;
    gap: 20px;
}

.menu__link {
    text-transform: uppercase;
}

.header__tel {
    position: relative;
    padding-left: 23px;
}

.header__tel::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("../images/icons/phone-icon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*

===========================
    HERO
===========================
*/
.hero__inner {
    position: relative;
    padding: 194px 0 415px;
}

.hero__info {
    position: relative;
    z-index: 2;
    max-width: 390px;
}

.hero__title {
    margin-bottom: 15px;
    font-family: var(--font-yeseva);
    font-size: 30px;
    font-weight: 400;
}

.hero__text {
    margin-bottom: 48px;
}

.hero__picture {
    position: absolute;
    top: 30px;
    left: 241px;
}

.hero__picture img {
    max-width: unset;
}

/*
===========================
    FOOTER
===========================
*/
.footer {
    color: var(--color-dark-grey);
    background-color: var(--color-white);
}

.footer__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 39px 0 34px;
}

.footer__logo {
    margin-right: auto;
}

.footer__menu {
    margin: 0 auto;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-left: auto;
}

.socials {
    display: flex;
    column-gap: 15px;
}

.socials__link {
    position: relative;
    min-width: 22px;
    min-height: 22px;
}

.socials__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

.socials__link--facebook::before {
    background-image: url("../images/icons/facebook-icon.svg");
}

.socials__link--instagram::before {
    background-image: url("../images/icons/instagram-icon.svg");
}

.socials__link--linkedin::before {
    background-image: url("../images/icons/linkedin-icon.svg");
}

.socials__link--youtube::before {
    background-image: url("../images/icons/youtube-icon.svg");
}

/*
===========================
    ABOUT
===========================
*/
.about {
    padding: 50px 0;
    background-color: var(--color-beige2);
}

.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-grey);
}

.about__title {
    color: var(--color-grey);
}

.about__text + .about__text {
    margin-top: 15px;
}

.about__images {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 60px;
    padding-left: 110px;
}

.candle-border {
    position: relative;
}

.candle-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 24px;
    height: 33px;
    background-image: url("../images/icons/candle-icon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.candle-border::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 23px;
    width: 1000%;
    border-top: 1px solid var(--color-beige1);
}

.about__img {
    max-width: unset;
    margin-bottom: 8px;
}

.about__img-descr {
    font-size: 11px;
}

/*
===========================
    PRODUCTS
===========================
*/
.products__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 90px;
    padding: 0 48px 80px 70px;
}

.products__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.products__item-image {
    height: auto;
    margin-bottom: 8px;
}

.products__item-price {
    margin-bottom: 12px;
}

.products__item-title {
    margin-bottom: 16px;
}

.products__item-price,
.products__item-title {
    font-family: var(--font-yeseva);
    font-size: 16px;
    font-weight: 400;
}

.products__item-text {
    flex: 1;
    margin-bottom: 27px;
    font-size: 12px;
}

/*
===========================
    STAGES
===========================
*/
.stages__list {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(2, minmax(155px, 1fr));
    gap: 70px 25px;
    padding: 0 0 80px 20px;
    counter-reset: listItems;
}

.stage {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 38px;
}

.stage::before {
    content: counter(listItems, decimal-leading-zero);
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: var(--font-yeseva);
    font-size: 30px;
    color: var(--color-beige);
    counter-increment: listItems;
}

.stage__text {
    max-width: 171px;
    padding-bottom: 40px;
}

.stage:nth-of-type(4n - 1),
.stage:nth-of-type(4n) {
    flex-direction: row-reverse;
}

.stage:nth-of-type(4n - 1)::before,
.stage:nth-of-type(4n)::before {
    right: 0;
    left: auto;
}

.stage__img {
    flex-shrink: 1;
    width: clamp(67px, 44%, 160px);
    height: 100%;
    object-fit: cover;
}

/*
===========================
    COURSES
===========================
*/
.courses__inner {
    justify-content: space-between;
}

.courses__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 110px;
    padding: 0 30px 80px 70px;
}

.course {
    padding-right: 14px;
}

.course__info {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    aspect-ratio: 275/366;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.course__info-item {
    font-family: var(--font-yeseva);
    font-size: 11px;
    font-weight: 400;
    color: var(--color-white);
    background-color: var(--color-beige);
}

.course__info-item span {
    font-family: var(--font-comfortaa);
    font-size: 10px;
}

.course__name {
    margin-bottom: 15px;
    padding: 15px 15px 15px 10px;
}

.course__duration {
    padding: 7px 15px 7px 10px;
}

.course__price {
    position: absolute;
    right: -14px;
    bottom: -14px;
    padding: 19px 19px 19px 10px;
}

.course__about {
    text-align: center;
}

.course__title {
    margin-bottom: 15px;
    font-family: var(--font-yeseva);
    font-size: 16px;
    font-weight: 400;
}

.course__text {
    margin-bottom: 23px;
}

/*
===========================
    TEAM
===========================
*/
.team {
    padding: 50px 0 80px;
    color: var(--color-white);
    background-color: var(--color-beige2);
}

.team__inner {
    gap: 0 60px;
}

.team__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px;
}

.team__title {
    color: var(--color-white);
}

.members__item {
    display: flex;
    align-items: flex-end;
}

.members__item-img {
    width: 70%;
    height: unset;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.members__item-info {
    max-width: 168px;
    margin: 0 0 8px -65px;
    padding: 15px 9px;
    text-align: center;
    background-color: var(--color-beige1);
}

.members__item-name {
    font-family: var(--font-yeseva);
    font-size: 12px;
}

.members__item-text {
    font-size: 11px;
}

/*
===========================
    FEEDBACKS
===========================
*/
.feedbacks__content {
    max-width: calc(100% - 392px);
    padding: 0 0 66px 20px;
}

.feedback {
    display: flex;
    align-items: flex-end;
    gap: 0 14px;
}

.feedback__info {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    width: clamp(210px, 40%, 372px);
}

.feedback__info-block {
    position: relative;
    margin-bottom: 17%;
    padding-top: 37px;
}

.feedback__info-block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-image: url("../images/icons/instagram-icon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.feedback__name {
    display: block;
    margin-bottom: 15px;
    font-family: var(--font-yeseva);
    font-size: 16px;
    font-weight: 400;
}

.feedback__button {
    align-self: flex-end;
}

.feedback__video {
    position: relative;
    width: clamp(200px, 57%, 380px);
    height: 370px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.feedback__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background-image: url("../images/icons/play-icon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

.slider {
    padding-bottom: 55px;
}

.swiper-pagination-bullet {
    width: 50px;
    height: 5px;
    background-color: var(--color-beige);
    border-radius: 0;
    opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-beige1);
}

/*
===========================
    CERTIFICATES
===========================
*/
.certificates__content {
    max-width: 100%;
    padding: 0 0 70px 20px;
}

.certificates__slider {
    padding-bottom: 55px;
}

.certificate {
    max-width: 375px;
}

.certificate__img {
    height: 100%;
}

.certificates__pagination {
    max-width: calc(100% - 392px);
}

/*
===========================
    FAQ
===========================
*/
.faq {
}

.faq__inner {
    justify-content: space-between;
    gap: 0 40px;
}

.faq__list {
    flex: 1;
}

.faq__item {
    background-color: var(--color-white);
    box-shadow: 0 4px 11px rgba(196, 174, 151, 0.2);
}

.faq__item + .faq__item {
    margin-top: 10px;
}

.faq__btn {
    position: relative;
    display: block;
    width: 100%;
    padding: 16px 50px 16px 13px;
    font-family: var(--font-yeseva);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}

.faq__btn::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 26px;
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/arrow-icon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition: transform 0.1s ease-in-out;
}

.faq__content-wrapper {
    overflow: hidden;
    height: 0;
    transition: height 0.1s ease-in-out;
}

.faq__content {
    padding: 17px 27px 57px 27px;
}

.faq__content ol {
    padding-left: 20px;
    list-style-type: decimal;
}

.faq__item--active .faq__btn::after {
    transform: translateY(-50%) rotateX(180deg);
}

/*
===========================
    PROMO
===========================
*/
.promo {
    padding: 128px 0 145px;
    background-image: url("../images/promo-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.promo__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0 108px;
    padding: 0 117px 0 56px;
    color: var(--color-white);
}

.promo__text {
    font-family: var(--font-yeseva);
    font-size: 40px;
    font-weight: 400;
}

.promo__button {
    margin-bottom: 10px;
}

/*
===========================
    SUBSCRIBE
===========================
*/
.subscribe {
    margin-bottom: 50px;
}

.subscribe__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 50px;
}

.subscribe__img {
    width: clamp(187px, 38%, 448px);
    height: 604px;
    object-fit: cover;
}

.form {
    flex: 1;
    padding: 75px 42px;
    background-color: var(--color-white);
}

.form__title {
    margin-bottom: 50px;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.form__input {
    padding: 11px 7px;
    border: none;
    border-bottom: 1px solid var(--color-black);
}

.form__input + .form__input {
    margin-top: 13px;
}

.form__input::placeholder {
    color: #b3b3b3;
}

.form__button {
    min-width: 170px;
    padding: 17px;
}

/*
===========================
    ADAPTIVE
===========================
*/
@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }

    .header__tel {
        padding-left: 15px;
    }

    .header__tel::before {
        bottom: 3px;
        width: 10px;
        height: 10px;
    }

    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__menu {
        margin: 0 0 0 auto;
    }

    .footer__contacts {
        align-items: center;
        width: 100%;
        margin: 15px 0 0;
    }

    .hero__info {
        max-width: 335px;
    }

    .hero__picture {
        left: 297px;
    }

    .hero__picture img {
        max-width: 655px;
        height: unset;
    }

    .hero__inner {
        padding: 123px 0 238px;
    }

    .hero__text {
        margin-bottom: 30px;
    }

    .section__info {
        max-width: 300px;
    }

    .about__images {
        padding-left: 20px;
    }

    .products__text {
        font-size: 10px;
    }

    .products__list {
        gap: 60px;
        padding: 0 0 60px 12px;
    }

    .stages__list {
        gap: 35px;
        padding-left: 0;
    }

    .stages__inner {
        column-gap: 25px;
    }

    .stage {
        gap: 0 30px;
    }

    .courses__list {
        gap: 0 60px;
        padding: 0 0 80px 0;
    }

    .courses__inner {
        gap: 0 30px;
    }

    .team {
        padding: 50px 0;
    }

    .team__info {
        max-width: 270px;
    }

    .team__inner {
        gap: 0 30px;
    }

    .team__list {
        gap: 30px 20px;
    }

    .feedbacks__inner {
        gap: 0 38px;
    }

    .feedbacks__info {
        max-width: 260px;
    }

    .feedbacks__content {
        max-width: calc(100% - 298px);
        padding-left: 0;
    }

    .slider {
        padding-bottom: 25px;
    }

    .certificates__info {
        max-width: 270px;
    }
    .certificates__inner {
        gap: 0 18px;
    }

    .certificates__content {
        padding-left: 0;
    }

    .certificates__pagination {
        max-width: calc(100% - 288px);
    }

    .promo {
        padding: 120px 0;
    }

    .promo__inner {
        padding: 0 60px;
    }

    .form {
        padding: 75px 30px;
    }

    .subscribe__img {
        max-width: 335px;
        height: 510px;
    }

    .subscribe__inner {
        gap: 0 30px;
    }
}

@media (max-width: 950px) {
    .stages__inner {
        gap: 0 5px;
    }

    .stages__list {
        gap: 26px 35px;
    }

    .stage {
        gap: 0 20px;
    }

    .stage__text {
        font-size: 10px;
    }

    .stage::before {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    body {
        font-size: 10px;
    }

    .header__logo {
        order: 1;
    }

    .header__tel {
        order: 2;
        margin: 0 auto;
    }

    .header__menu {
        order: 3;
        margin-right: 0;
    }

    .menu__button {
        display: block;
    }

    .header__menu-list {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 9999;
        flex-direction: column;
        padding: 25px 25px 20px 45px;
        color: var(--color-pink);
        background-color: var(--color-beige1);
        transform: translateX(150%);
        transition: transform 0.2s ease-out;
    }

    .menu__list--active {
        transform: translateX(0);
    }

    .hero__info {
        max-width: 236px;
    }

    .hero__title {
        font-size: 20px;
    }

    .button {
        min-width: 120px;
        padding: 14px;
        font-size: 12px;
    }

    .hero__text {
        margin-bottom: 20px;
    }

    .hero__picture {
        left: 180px;
    }

    .section__info {
        max-width: 200px;
    }

    .title {
        font-size: 15px;
    }

    .about__title {
        margin-bottom: 20px;
    }

    .about__images {
        column-gap: 10px;
        padding: 0 0 30px 65px;
    }

    .about__img-descr {
        font-size: 6px;
    }

    .about__img {
        margin-bottom: 0;
    }

    .about__img-block:nth-of-type(odd) .about__img {
        max-width: 120px;
        height: unset;
        aspect-ratio: 1/1;
    }

    .about__img-block:nth-of-type(even) .about__img {
        max-width: 191px;
        height: unset;
    }

    .about {
        padding: 50px 0 60px;
    }

    .section__inner {
        column-gap: 10px;
    }

    .products__list {
        gap: 30px 20px;
        padding-left: 20px;
    }

    .products__item-image {
        margin-bottom: 5px;
    }

    .products__item-price,
    .products__item-title {
        font-size: 12px;
    }

    .products__item-text {
        margin-bottom: 19px;
        font-size: 8px;
    }

    .products__item-price {
        margin-bottom: 7px;
    }

    .products__item-title {
        margin-bottom: 10px;
    }

    .products__item-button {
        min-width: 100px;
        padding: 10px;
    }

    .stages__list {
        gap: 25px;
        padding: 0 0 60px 0;
    }

    .stage {
        gap: 0 15px;
    }

    .stage__text {
        font-size: 8px;
    }

    .stage::before {
        font-size: 20px;
    }

    .courses__list {
        gap: 0 30px;
    }

    .course__info-item {
        padding: 10px;
        font-size: 8px;
    }

    .course__title {
        margin-bottom: 9px;
        font-size: 12px;
    }

    .course__text {
        margin-bottom: 10px;
    }

    .team__list {
        gap: 30px 14px;
    }

    .members__item-info {
        padding: 10px 6px;
    }

    .members__item-name {
        font-size: 8px;
    }

    .members__item-text {
        font-size: 7px;
    }

    .feedback {
        align-items: flex-start;
        gap: 0 10px;
    }

    .feedback__play-btn {
        width: 50px;
        height: 50px;
    }

    .feedbacks__content {
        max-width: calc(100% - 210px);
    }

    .feedback__video {
        max-width: 200px;
        height: 200px;
        margin-bottom: 25px;
    }

    .swiper-pagination-bullet {
        width: 28px;
        height: 4px;
    }

    .feedbacks__slider {
        padding-bottom: 3px;
    }

    .feedback__name {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .feedback__button {
        min-width: unset;
        margin-bottom: 8px;
        font-size: 8px;
    }

    .feedback__info-block {
        padding-top: 25px;
    }

    .feedback__info-block::before {
        width: 15px;
        height: 15px;
    }

    .certificates__content {
        padding-bottom: 60px;
    }

    .certificates__pagination {
        max-width: calc(100% - 210px);
    }

    .promo {
        padding: 65px 0 30px;
    }

    .promo__text {
        font-size: 15px;
    }

    .promo__inner {
        align-items: flex-start;
        gap: 0 60px;
        padding: 0 33px;
    }

    .promo__button {
        margin: 10px 0 0 0;
    }

    .subscribe__inner {
        gap: 0 15px;
    }

    .form {
        padding: 30px 20px;
    }

    .form__title {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .form__input {
        font-size: 8px;
    }

    .form__inputs {
        margin-bottom: 30px;
    }

    .subscribe__img {
        max-width: 187px;
        max-height: 285px;
    }

    .faq__btn {
        font-size: 12px;
        padding: 12px 45px 12px 7px;
    }

    .faq__btn::after {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 576px) {
    .footer {
        font-size: 14px;
    }

    .footer__inner {
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
    }

    .footer__menu-list {
        flex-direction: column;
        text-align-last: center;
    }

    .footer__logo,
    .footer__menu {
        margin: 0 0 50px;
    }

    .footer__contacts {
        margin: 0;
    }

    .hero__info {
        max-width: 180px;
    }

    .hero__title {
        font-size: 15px;
    }

    .hero__text {
        margin-bottom: 15px;
    }

    .hero__picture {
        left: 167px;
    }

    .hero__inner {
        padding: 110px 0 130px;
    }

    .button {
        min-width: 90px;
        padding: 11px;
    }

    .about__info {
        max-width: 172px;
    }

    .about {
        padding: 50px 0;
    }

    .about__inner {
        align-items: flex-end;
    }

    .about__images {
        align-items: flex-end;
        column-gap: 5px;
        padding: 0 0 60px 10px;
    }

    .about__img-descr {
        display: none;
    }

    .about__img-block:nth-of-type(odd) .about__img {
        max-width: 80px;
    }

    .about__img-block:nth-of-type(even) .about__img {
        max-width: 140px;
        aspect-ratio: 1/1;
    }

    .section__inner {
        flex-direction: column;
        align-items: center;
        gap: 30px 0;
    }

    .section__info:not(.about__info) {
        max-width: 300px;
        text-align: center;
    }

    .products__list {
        gap: 30px;
        padding: 0 20px 60px;
    }

    .section {
        margin-bottom: 50px;
    }

    .courses__list {
        padding-bottom: 60px;
    }

    .team__list {
        gap: 30px;
    }

    .feedbacks__content {
        max-width: 100%;
    }

    .certificates__pagination {
        max-width: 100%;
    }

    .promo {
        padding: 42px 0;
    }

    .promo__inner {
        gap: 0 50px;
        padding: 0;
    }

    .promo__button {
        font-size: 8px;
    }

    .subscribe__img {
        display: none;
    }

    .subscribe__inner {
        display: block;
        padding: 0 10px;
    }
}

@media (max-width: 360px) {
    .hero__inner {
        padding: 60px 0 50px;
    }

    .hero__info {
        max-width: 203px;
    }

    .hero__picture {
        left: 219px;
    }

    .hero__title {
        font-size: 18px;
    }

    .about {
        padding: 25px 0 10px;
    }

    .about__title {
        margin-bottom: 10px;
    }

    .about__inner {
        align-items: flex-start;
    }

    .about__info {
        max-width: 234px;
    }

    .about__images {
        margin: 14px 0 0 12px;
        padding: 0 0 40px 12px;
    }

    .about__img-block:nth-of-type(1n + 2) {
        display: none;
    }

    .about__info {
        max-width: 235px;
    }

    .about__text,
    .products__text {
        font-size: 8px;
    }

    .section__info:not(.about__info, .feedbacks__info) {
        max-width: 200px;
    }

    .about__inner {
        row-gap: 25px;
    }

    .products__item-price,
    .products__item-title {
        font-size: 10px;
    }

    .products__item-text {
        margin-bottom: 17px;
        font-size: 6px;
    }

    .products__item-price {
        margin-bottom: 5px;
    }

    .products__item-title {
        margin-bottom: 7px;
    }

    .products__item-button {
        min-width: 80px;
        padding: 10px;
        font-size: 8px;
    }

    .stage__text {
        font-size: 6px;
    }

    .stage::before {
        font-size: 12px;
    }

    .stage {
        gap: 0 16px;
    }

    .stages__list {
        gap: 20px 25px;
    }

    .courses__list {
        grid-template-columns: 1fr;
        gap: 30px 0;
    }

    .team__list {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .members__item-name {
        font-size: 11px;
    }

    .members__item-text {
        font-size: 10px;
    }

    .feedback {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feedback__video {
        margin-bottom: 12px;
    }

    .feedback__info-block::before {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .feedback__info {
        width: 100%;
        max-width: 250px;
    }

    .feedback__info-block {
        margin-bottom: 20px;
    }

    .feedback__button {
        margin-bottom: 0;
        align-self: center;
    }

    .feedbacks__slider {
        padding-bottom: 35px;
    }

    .feedback__video {
        width: 100%;
        max-width: 250px;
        height: 250px;
    }

    .feedback__play-btn {
        width: 41px;
        height: 41px;
    }

    .certificate__img {
        height: 128px;
    }
}
